*{
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 150%;
}

body{
    align-content: center;
    background-image: linear-gradient(to top,#a74d0f,#d4ac90,#e7c8b2);
}

header{
    display: flex;
    align-items:start;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 80px;
}

.logo{
    margin-left: 10px;
    padding-top: 10px;
}


main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 80px;
}

section{
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
}

.contanierAreaText1{
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #a74d0f;
    background-color: none;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 16px;
}

.areaTexto1{
    border-color: transparent;
    background-color: transparent;
    color: white;
    /*text-transform: lowercase;*/
}

::placeholder{color: white}
    .areaTexto1:focus{
        outline: none;
    }

main div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contanierWarm{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px
}

.warm{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    
}

p{
    font-size: 12px;
    color: white;
    font-weight: 200;
}


.btn-criptografar{
    width: 80;
    height: 80;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    border: none; 
    margin: 0 8px;
}

.btn-copiar{
    width: 80;
    height: 80;
    background-color: #e7c8b2;
    border-radius: 30px;
    padding: 10px 16px;
    color: #a74d0f;
    border: none;
    
}


.areaTexto2{
    background-color: white;
    background-image: url('../src/assets/boneco.png');

    
    background-repeat: no-repeat;
    color: #0A3871;
    border: none;
    padding: 20px;
    border-radius: 24px;
    margin-bottom: 16px;
    
}

.areaTexto2:focus{
    outline: none;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 80px;
    color: gray;
}