*{
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /*font-size: 32px;*/
    line-height: 150%;
}


.logo{
    margin-left: 10px;
    padding-top: 10px;
}


main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 80px;
}

.areaTexto1{
    width: 600;
    height: 500;
    border-radius: 20;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    color: #0A3871;
    text-transform: lowercase;
}

::placeholder{color: #0A3871;}
    .areaTexto1:focus{
        outline: none;
    }


.btn-criptografar{
    width: 180;
    height: 80;
    background-color: white;
    border-radius: 30px;
    padding: 8px 16px;
}

.contanier2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-radius: 40px;
}

.areaTexto2{
    background-color: white;
    background-image: url('../src/assets/boneco.png');
    color: #0A3871;
    border: none;
    border-radius: 24px;
    margin-bottom: 14px;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.areaTexto2:focus{
    outline: none;
}

.botoes{
    display: flex;
    margin-top: 18px;
}